<div class="cursor"></div>

    <div class="openning">
        <div class="layer">
            <div class="layer-content">
                <%= cl_image_tag("semi_b1yg67", :class=>"layer-img", :alt=>"semi") %>
                <%= cl_image_tag("office_y8erev", :class=>"layer-img", :alt=>"office") %>
            </div>
        </div>
    </div>
    
    <nav>
        <div id="ac" class="mail logo">
            <%= cl_image_tag("semi_b1yg67", :class=>"logo-img", :alt=>"semi") %>
            <%= cl_image_tag("office_y8erev", :class=>"logo-img img-top", :alt=>"office") %>
        </div>
        <div id="os">
            <a href="/object">
                <div id="o" class="mail">Object</div>
            </a>
            <label class="switch">
                <input type="checkbox">
                <a href="/space">
                    <span class="slider round"></span>
                </a>
            </label>
            <a href="/space">
                <div id="s" class="mail">S</div>
            </a>
        </div>
    </nav>

    <div id="gray"></div>

    <div id="info-card">
        <div id="info-text">
            <p id="info-title">SEMI OFFICE</p>
            <p>Antoine Revertegat Chauvin</p>
            <br>
            <p>SEMI PARIS</p>
            <p>Rue du Temple</p>
            <p>75003 Paris</p>
            <br>
            <p>SEMI MARSEILLE</p>
            <p>Rue Mazagran</p>
            <p>13001 Marseille</p>
            <br>
            <p>Antoine Chauvin Revertegat</p>
            <p class="no-mb">T. 06 69 24 83 32</p>
            <a class="mail" href="mailto:chauvinantoine@outlook.fr?subject=semi-office">contact@semi-office.eu</a>
            <br>
            <p>SEMI is a design Office creating Object and Space
            Attract by the idea than design follow a light and poetic tones playing second roles in collectives experiences. Facing nowadays issues it aims to collabore with architects, institutions or collectivities to share ideas and emotions.</p>
            <br>
            <p>Typology</p>
            <p>Object : Stadium seats, Cinema, Beds for Airports, Bas relief, Vélo Park, Table, Scenography, Drinking Fountain</p>
            <br>
            <p>Space</p>
            <p>Rooftop , Atelier Logement, Scenography, Concert Installation, House, Villa Library, Pétanque Set</p>
            <br>
            <p>Exhibitions</p>
            <p>Siamese, Bas Relief, Musée Cantini, Marseille, 2020</p>
            <p>Siamese, Bas Relief, Galerie Archik, Marseille, 2019</p>
            <p>Capsule Hotel, FireStation, éca l xVitra, Design Museum, 2019</p>
            <p>Vue Mer, Design Parade 3, Ancien Evêché, Toulon, 2018</p>
            <p>Cava, Design Parade 4, Ancien Evêché, Toulon, 2018</p>
            <p>Dead Object Alive, Mexico City, 2018</p>
            <p>écal x E15, Milano Design week 2017</p>
            <br>
            <p>Collaborations and Clients</p>
            <p>Vilebrequin, Monoprix, Villa Noailles, Altarea Cogedim, Musée Cantini, Vitra x éca l,  E15 x écal, Victorinox x écal</p>
            <br>
            <br>
        </div>
    </div>

    <div id="mobile">
        <div class="mobile-box">
            <%= cl_image_tag("vitra8_kisujl", :class=>"mobile-box-pictures", :alt=>"vitra8") %>
            <%= cl_image_tag("stade10_mluwxp", :class=>"mobile-box-pictures", :alt=>"stade10") %>
            <%= cl_image_tag("municipale4_jfv7v9", :class=>"mobile-box-pictures", :alt=>"municipale4") %>
            <%= cl_image_tag("vava3_vxwuz2", :class=>"mobile-box-pictures", :alt=>"vava3") %>
            <%= cl_image_tag("fontaine6_kc1xw4", :class=>"mobile-box-pictures", :alt=>"fontaine6") %>
            <%= cl_image_tag("siamese3_no6shi", :class=>"mobile-box-pictures", :alt=>"siamese3") %>
            <%= cl_image_tag("cafe4_llwb8a", :class=>"mobile-box-pictures", :alt=>"cafe4") %>
        </div>
    </div>

    <div id="desktop-hide">

        <div class="background">
        </div>

        <div id="master-project-chronology">
            <div class="project-chronology"></div>
            <div class="project-chronology open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures">
                        <div class="pictures-information">
                            <p>Capsule Hotel</p>
                            <p>2017</p>
                            <p>VITRA</p>
                        </div>
                        <div id="pictures-capsule" class="allpictures pictures-2017">
                            <%= cl_image_tag("vitra8_kisujl", :class=>"pictures grayscale", :alt=>"vitra8") %>
                            <div class="pictures-title">Capsule Hotel</div>
                        </div>
                        <%= cl_image_tag("vitra1_awf9ii", :class=>"show-pictures-1", :alt=>"vitra1") %>
                        <div>
                            <%= cl_image_tag("vitra2_ihxqlt", :class=>"show-pictures-2", :alt=>"vitra2") %>
                            <%= cl_image_tag("vitra3_jqmpvs", :class=>"show-pictures-3", :alt=>"vitra3") %>
                        </div>
                        <div>
                            <%= cl_image_tag("vitra4_uokfma", :class=>"show-pictures-4", :alt=>"vitra4") %>
                            <%= cl_image_tag("vitra5_kd9uby", :class=>"show-pictures-5", :alt=>"vitra5") %>
                        </div>
                        <div>
                            <%= cl_image_tag("vitra6_xluauu", :class=>"show-pictures-6", :alt=>"vitra6") %>
                            <%= cl_image_tag("vitra10_jcfppz", :class=>"show-pictures-7", :alt=>"vitra10") %>
                        </div>
                        <div>
                            <%= cl_image_tag("vitra7_wn6ms0", :class=>"show-pictures-8", :alt=>"vitra7") %>
                            <%= cl_image_tag("vitra9_cewpo5", :class=>"show-pictures-9", :alt=>"vitra9") %>
                        </div>
                        <div class="show-text">
                            <h3>Capsule Hotel, VITRA, 2017</h3>
                            <p>
                            During a workshop with éca l and Vitra dedicate to Workbays systems we had to look for ideas questioning workspace . The first drawings represent long extrusions letting imagine use of the heigh. The resulting  functions had been to create 
                            <br>
                            A library and space for universities/ Point of research as a big furniture in the middle of the space 
                            
                            Down library and book 
                            
                            Up a reading space to make a break and have a new point of view on the space 
                            
                            A intensive working space to increase the amount of workers in the same space 
                            
                            Capsule Hotel 
                            
                            the concept is to allow someone to privatise an enclosure in an otherwise busy or possibly frenetic environment so as 
                            <br>
                            to read a book in peace, rest between lights, enter into a virtual world to watch game, conduct a conference talk online or even get a good night’s sleep. The Capsule is equiped with a beamer and a screen wich could be interpreted as a window to 
                            <br>
                            escape to our reality, symbolise a virtual world or work as a light to read a book. Each
                            doors (ground, first) contain a large mattress, shelf space, a cushion and a blanket.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology open-pictures" >
                <div class="scroll-y">
                    <div class="show-pictures">
                        <div class="pictures-information">
                            <p>Stadium seat</p>
                            <p>2017</p>
                            <p>Ultra Plastic</p>
                        </div>
                        <div id="pictures-stade" class="allpictures pictures-2017">
                            <%= cl_image_tag("stade10_mluwxp", :class=>"pictures grayscale", :alt=>"stade10") %>
                            <div id="title-stade" class="pictures-title">Ultra San Siro</div>
                        </div>
                        <%= cl_image_tag("stade1_m3uo1k", :class=>"show-pictures-1", :alt=>"stade1") %>
                        <div>
                            <%= cl_image_tag("stade3_esmopb", :class=>"show-pictures-2", :alt=>"stade3") %>
                            <%= cl_image_tag("stade4_zve21p", :class=>"show-pictures-3", :alt=>"stade4") %>
                        </div>
                        <div>
                            <%= cl_image_tag("stade8_hqjka0", :class=>"show-pictures-4", :alt=>"stade8") %>
                            <%= cl_image_tag("stade2_mk1vnq", :class=>"show-pictures-5", :alt=>"stade2") %>
                        </div>
                        <div>
                            <%= cl_image_tag("stade6_gnojt1", :class=>"show-pictures-6", :alt=>"stade6") %>
                            <%= cl_image_tag("stade7_untdxr", :class=>"show-pictures-7", :alt=>"stade7") %>
                        </div>
                        <div>
                            <%= cl_image_tag("stade5_zje8lx", :class=>"show-pictures-8", :alt=>"stade5") %>
                            <%= cl_image_tag("stade9_dfrv39", :class=>"show-pictures-9", :alt=>"stade9") %>
                        </div>
                        <div class="show-text">
                            <h3>Stadium Seats, San Siro, 2017</h3>
                            <p>Antoine grew up in Marseille, south of France, in front of the sea. After dreaming about being
                            rugby player, design came like a second breath, as a way of expression. Inspired and passionate,
                            Antoine graduated with honors from Esad, a school which promotes an open vision of creation between object and spatial design. During this experience, Antoine developed a clear interest for public space. Fascinated by the vision of Jurgen Bey, He joined his studio in Rotterdam for a summer. In 2015, he moved to Switzerland to
                            commence the Master of Product Design at Ecal, where he refined his knowledge of industrial
                            design and collaborated with brands like E15, Victorinox and recently Vitra.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology"></div>
            <div class="project-chronology open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures">
                        <div class="pictures-information">
                            <p>Table à café</p>
                            <p>2020</p>
                            <p>Halles Municipales Toulon</p>
                        </div>
                        <div id="pictures-cafe" class="allpictures pictures-2020 lastpicturehide">
                            <%= cl_image_tag("cafe1_1_yk16fi", :class=>"pictures grayscale", :alt=>"cafe4") %>
                            <div class="pictures-title">Table à café</div>
                        </div>
                        <div class="chair-front">
                            <%= cl_image_tag("cafe4_1_xujtk1", :alt=>"Table Vase") %>
                        </div>
                        <div class="show-pictures-hide active">
                            <div>
                                <%= cl_image_tag("cafe4_1_xujtk1", :class=>"show-pictures-1", :alt=>"cafe1") %>
                                <%= cl_image_tag("cafe2_ltu2mx", :class=>"show-pictures-2", :alt=>"cafe2") %>
                            </div>
                            <div>
                                <%= cl_image_tag("cafe3_dqfxgn", :class=>"show-pictures-3", :alt=>"cafe3") %>
                                <%= cl_image_tag("cafe5_t0yjfo", :class=>"show-pictures-4", :alt=>"cafe5") %>
                            </div>
                            <div class="show-text">
                                <h3>Métal / Steel / Spray Painted Lush and Mat</h3>
                                <p>
                                    Pensée pour le Rooftop des Halles Municipales de Toulon, la table est construite en deux parties. 
                                    Un plateau vase accueillant une conversation. Une structure légère composée de fer plat portant le plateau en lévitation.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology"></div>
            <div class="project-chronology open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures">
                        <div class="pictures-information">
                            <p>L Chair</p>
                            <p>2019</p>
                            <p>Aluminium</p>
                        </div>
                        <div id="pictures-municipale" class="allpictures pictures-2019">
                            <%= cl_image_tag("municipale4_jfv7v9", :class=>"pictures grayscale", :alt=>"municipale4") %>
                            <div id="title-municipale" class="pictures-title">L Chair</div>
                        </div>
                        <div>
                            <%= cl_image_tag("IMG_7439_2_1_fmbe2b", :class=>"show-pictures-2", :alt=>"municipale2") %>
                            <%= cl_image_tag("IMG_7559_1_udoz2l", :class=>"show-pictures-3", :alt=>"municipale3") %>
                        </div>
                        <div>
                            <%= cl_image_tag("municipale5_akex26", :class=>"show-pictures-4", :alt=>"municipale5") %>
                            <%= cl_image_tag("municipale6_gdjbji", :class=>"show-pictures-5", :alt=>"municipale6") %>
                        </div>
                        <div>
                            <%= cl_image_tag("municipale7_kciibh", :class=>"show-pictures-6", :alt=>"municipale7") %>
                            <%= cl_image_tag("municipale8_jyn5xy", :class=>"show-pictures-7", :alt=>"municipale8") %>
                        </div>
                        <div class="show-text">
                        <h3>L Chair / Aluminium / 2019</h3>
                        <p>
                            Reprenant les ferronneries de la porte Art déco des Halles Municipales de Toulon. La chaise est construite sur la base de profil métal de 20 x 20 mm. Une grille légère et vibrante forme l’assise et le dossier. Donnant à la chaise un légèreté et transparence propice à l’environnement méditerranéen.
                        </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology"></div>
            <div class="project-chronology open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures">
                        <div class="pictures-information">
                            <p>VAVA</p>
                            <p>2019</p>
                            <p>VAVA</p>
                        </div>
                        <div id="pictures-vava" class="allpictures pictures-2019">
                            <%= cl_image_tag("vava3_vxwuz2", :class=>"pictures grayscale", :alt=>"vava3") %>
                            <div class="pictures-title">VAVA</div>
                        </div>
                        <%= cl_image_tag("vava1_mpwqpk", :class=>"show-pictures-1", :alt=>"vava1") %>
                        <div>
                            <%= cl_image_tag("vava4_vachtb", :class=>"show-pictures-2", :alt=>"vava4") %>
                            <%= cl_image_tag("vava5_g6dmpa", :class=>"show-pictures-3", :alt=>"vava5") %>
                        </div>
                        <div>
                            <%= cl_image_tag("vava6_ntsaz6", :class=>"show-pictures-4", :alt=>"vava6") %>
                            <%= cl_image_tag("vava7_ujrvlr", :class=>"show-pictures-5", :alt=>"vava7") %>
                        </div>
                        <div>
                            <%= cl_image_tag("vava8_dg5czg", :class=>"show-pictures-6", :alt=>"vava8") %>
                            <%= cl_image_tag("vava9_gp95lz", :class=>"show-pictures-7", :alt=>"vava9") %>
                        </div>
                        <div class="show-text">
                            <h3>VAVA, VAVA, 2019</h3>
                            <p>
                                VAVA est une start-up visant à répondre aux problématiques de mobilité urbaine actuelle, ainsi qu'à la vie de quartier de grandes villes.
                                Le projet que nous souhaiterions vous proposer a été conceptualisé pour les cyclistes, autour de la question du stationnement et de la
                                sécurité pour la bonne santé du vélo en ville.<br><br>

                                Le système est modulable et comprend:<br><br>

                                Un jardin<br>
                                Des Box vélos sécurisés<br>
                                Une fontaine<br>
                                Un arbre<br>
                                Une pompe / Kit de réparation pour les vélos<br><br>

                                L'idée est autant de proposer aux utilisateurs une sécurité complète pour leurs vélos que d'apporter de la poésie et de la vie à une rue.
                                On enlève 2 ou 3 places de voitures pour composer selon le contexte une sculpture/installation autonome et vivante.
                                On apporte un service lisible parking vélo/recharge / et une démarche volontaire des habitants
                                Jardin / Arbre = soins des habitants de la rue, entraide, discussions
                                Fontaine = permet aux cyclistes de remplir leurs gourdes, au marcheur de boire et s'asseoir un instant
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology"></div>

            <div class="project-chronology open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures">
                        <div class="pictures-information">
                            <p>Hydros</p>
                            <p>2020</p>
                            <p>Eau de Paris</p>
                        </div>
                        <div id="pictures-hydros" class="allpictures pictures-2020">
                            <%= cl_image_tag("fontaine6_kc1xw4", :class=>"pictures grayscale", :alt=>"fontaine6") %>
                            <div class="pictures-title">Hydros</div>
                        </div>
                            <%= cl_image_tag("fontaine1_ebaz7g", :class=>"show-pictures-1", :alt=>"fontaine1") %>
                        <div>
                            <%= cl_image_tag("fontaine2_cn3iqq", :class=>"show-pictures-2", :alt=>"fontaine2") %>
                            <%= cl_image_tag("fontaine3_dey5xc", :class=>"show-pictures-3", :alt=>"fontaine3") %>
                        </div>
                        <div>
                            <%= cl_image_tag("fontaine4_s45wts", :class=>"show-pictures-4", :alt=>"fontaine4") %>
                            <%= cl_image_tag("fontaine5_xh5dss", :class=>"show-pictures-5", :alt=>"fontaine5") %>
                        </div>
                        <div class="show-text">
                            <h3>Hydros, Eau de Paris, 2020</h3>
                            <p>
                                Architecture tremplin, mettant en scène la force du vide, et, l’expression la plus
                                noble d’un corps.
                                Le saut, symbole d’un instant d’éternité et d’incertitude, est aujourd’hui une
                                responsabilité que nous devons embrasser afin de préserver un écosystème
                                sensible dans nos villes.
                                Une forme tangible portant un art de vivre et d’être que nous avons trouvé juste
                                afin de représenter notre rapport à l’eau dans l’espace public.
                                Le coeur du projet porte des intentions éthiques et techniques sur les enjeux des
                                années à venir : l’écologie de la ville, une ouverture à l’eau démocratique, les
                                nouveaux comportements liés à l’hygiène, la résistance au temps, une
                                communication audacieuse...
                                Une idée consacrée au saut dans le vide que nous impose le 21e siècle.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures">
                        <div class="pictures-information">
                            <p>Siamese</p>
                            <p>2020</p>
                            <p>Musée Cantini</p>
                        </div>
                        <div id="pictures-siamese" class="allpictures pictures-2020">
                            <%= cl_image_tag("siamese3_no6shi", :class=>"pictures grayscale", :alt=>"siamese3") %>
                            <div class="pictures-title">Siamese</div>
                        </div>
                        <div>
                            <%= cl_image_tag("siamese1_sjqunf", :class=>"show-pictures-2", :alt=>"siamese1") %>
                            <%= cl_image_tag("siamese2_v2i4tp", :class=>"show-pictures-3", :alt=>"siamese2") %>
                        </div>
                        <div class="show-text">
                            <h3>Siamese, Bas Relief, Musée Cantini, 2020</h3>
                            <p>Dimensions 1300 x 800 x 140<br>
                            Matériaux Tôle d'acier 25/10<br>
                            Blanc crème<br><br>

                            Siamese est un bas relief composé de deux courbes dans un plateau et vissé au mur par 4 Tubes d’hauteurs variables. Ces trois éléments sont visuellement liés par une couleur lumineuse et douce faisant echos à l'oeuvre iconique, la Lampshade de Man Ray.
                            Se créant un territoire propre, le mouvement organique de la tôle et des tubes crées un jeu d'ombres et de lumière donnant au mur une tension, une dynamique vive et discrète.
                            Pouvant servir de rebords, de crochet ou de surface d'affichage on peut y apposer quelques livres, coller une image, glisser des clefs ou un parapluie de façon aléatoire.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology"></div>
            <div class="project-chronology open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures">
                        <div class="pictures-information">
                            <p>Cinéma</p>
                            <p>2020</p>
                            <p>?</p>
                        </div>
                        <div id="pictures-cinema" class="allpictures pictures-2020">
                            <%= cl_image_tag("cinema2_zvkpc3", :class=>"pictures grayscale", :alt=>"cinema2") %>
                            <div class="pictures-title">Cinéma</div>
                        </div>
                        <div>
                            <div>
                                <%= cl_image_tag("cinema3_kkgf02", :class=>"show-pictures-1", :alt=>"cinema3") %>
                                <%= cl_image_tag("cinema1_khwjpj", :class=>"show-pictures-2", :alt=>"cinema1") %>
                            </div>
                            <div class="show-text">
                                <h3>Cinéma, 2020</h3>
                                <p>
                                    Taxi is a Rounded screen made for projecting movies, exhibitions or advertising.
                                    Create as a kit it aim be flexible solution for semi public space.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology"></div>
            <div class="project-chronology"></div>

            <div id="project-year">
                <div id="project-year-2017">
                    <p>2017</p>
                </div>
                <div id="project-year-2018">
                    <p>2018</p>
                </div>
                <div id="project-year-2019">
                    <p>2019</p>
                </div>
                <div id="project-year-2020">
                    <p>2020</p>
                </div>
            </div>

        </div>

    </div>

