<div class="cursor"></div>

    <nav>
        <div id="ac" class="mail logo">
            <%= cl_image_tag("semi_b1yg67", :class=>"logo-img", :alt=>"semi") %>
            <%= cl_image_tag("office_y8erev", :class=>"logo-img img-top", :alt=>"office") %>
        </div>
        <div id="os">
            <a href="/object">
                <div id="o" class="mail">O</div>
            </a>
            <label class="switch">
                <input type="checkbox">
                <a href="/object">
                    <span class="slider round space"></span>
                </a>
            </label>
            <a href="/space">
                <div id="s" class="mail">Space</div>
            </a>
        </div>
    </nav>

    <div id="gray"></div>

    <div id="info-card">
        <div id="info-text">
            <p id="info-title">SEMI OFFICE</p>
            <p>Antoine Revertegat Chauvin</p>
            <br>
            <p>SEMI PARIS</p>
            <p>Rue du Temple</p>
            <p>75003 Paris</p>
            <br>
            <p>SEMI MARSEILLE</p>
            <p>Rue Mazagran</p>
            <p>13001 Marseille</p>
            <br>
            <p>Antoine Chauvin Revertegat</p>
            <p class="no-mb">T. 06 69 24 83 32</p>
            <a class="mail" href="mailto:chauvinantoine@outlook.fr?subject=semi-office">contact@semi-office.eu</a>
            <br>
            <p>SEMI is a design Office creating Object and Space
            Attract by the idea than design follow a light and poetic tones playing second roles in collectives experiences. Facing nowadays issues it aims to collabore with architects, institutions or collectivities to share ideas and emotions.</p>
            <br>
            <p>Typology</p>
            <p>Object : Stadium seats, Cinema, Beds for Airports, Bas relief, Vélo Park, Table, Scenography, Drinking Fountain</p>
            <br>
            <p>Space</p>
            <p>Rooftop , Atelier Logement, Scenography, Concert Installation, House, Villa Library, Pétanque Set</p>
            <br>
            <p>Exhibitions</p>
            <p>Siamese, Bas Relief, Musée Cantini, Marseille, 2020</p>
            <p>Siamese, Bas Relief, Galerie Archik, Marseille, 2019</p>
            <p>Capsule Hotel, FireStation, éca l xVitra, Design Museum, 2019</p>
            <p>Vue Mer, Design Parade 3, Ancien Evêché, Toulon, 2018</p>
            <p>Cava, Design Parade 4, Ancien Evêché, Toulon, 2018</p>
            <p>Dead Object Alive, Mexico City, 2018</p>
            <p>écal x E15, Milano Design week 2017</p>
            <br>
            <p>Collaborations and Clients</p>
            <p>Vilebrequin, Monoprix, Villa Noailles, Altarea Cogedim, Musée Cantini, Vitra x éca l,  E15 x écal, Victorinox x écal</p>
            <br>
            <br>
        </div>
    </div>


    <div id="mobile">
        <div class="mobile-box">
            <%= cl_image_tag("vitra8_kisujl", :class=>"mobile-box-pictures", :alt=>"vitra8") %>
            <%= cl_image_tag("stade10_mluwxp", :class=>"mobile-box-pictures", :alt=>"stade10") %>
            <%= cl_image_tag("municipale4_jfv7v9", :class=>"mobile-box-pictures", :alt=>"municipale4") %>
            <%= cl_image_tag("vava3_vxwuz2", :class=>"mobile-box-pictures", :alt=>"vava3") %>
            <%= cl_image_tag("fontaine6_kc1xw4", :class=>"mobile-box-pictures", :alt=>"fontaine6") %>
            <%= cl_image_tag("siamese3_no6shi", :class=>"mobile-box-pictures", :alt=>"siamese3") %>
            <%= cl_image_tag("cafe4_llwb8a", :class=>"mobile-box-pictures", :alt=>"cafe4") %>
        </div>
    </div>

    <div id="desktop-hide">

        <div class="background"></div>

        <div id="master-project-chronology">
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures show-pictures-blue">
                        <div class="pictures-information">
                            <p>Vue sur Mer</p>
                            <p>2018</p>
                            <p>Toulon</p>
                        </div>
                        <div id="pictures-mer" class="allpictures pictures-2018">
                            <%= cl_image_tag("thumbnail_vue_mer_color1_1_yxqj98", :class=>"pictures grayscale", :alt=>"Vue sur Mer") %>
                            <div class="pictures-title pictures-title-blue">Vue sur Mer</div>
                        </div>
                        <%= cl_image_tag("Room_bgtg4j", :class=>"show-pictures-mer-1", :alt=>"mer-1") %>
                        <div>
                            <%= cl_image_tag("Capture_d_eěcran_2021-01-18_aĚ_14.35.30_akvthz", :class=>"show-pictures-mer-2", :alt=>"mer-2") %>
                            <%= cl_image_tag("Capture_d_eěcran_2021-01-18_aĚ_14.35.48_alfo2e", :class=>"show-pictures-mer-3", :alt=>"mer-3") %>
                        </div>
                        <div>
                            <%= cl_image_tag("Capture_d_eěcran_2021-01-18_aĚ_14.35.23_k7e6ww", :class=>"show-pictures-mer-4", :alt=>"mer-4") %>
                        </div>
                        <div>
                            <%= cl_image_tag("Capture_d_eěcran_2021-01-18_aĚ_14.36.04_c6d3b1", :class=>"show-pictures-mer-5", :alt=>"mer-5") %>
                            <%= cl_image_tag("Capture_d_eěcran_2021-01-18_aĚ_14.29.34_mqmtwo", :class=>"show-pictures-mer-6", :alt=>"mer-6") %>
                        </div>
                        <div>
                            <%= cl_image_tag("Capture_d_eěcran_2021-01-18_aĚ_14.35.39_jxx0v5", :class=>"show-pictures-mer-7", :alt=>"mer-7") %>
                            <%= cl_image_tag("Capture_d_eěcran_2021-01-18_aĚ_14.36.24_edsjhx", :class=>"show-pictures-mer-8", :alt=>"mer-8") %>
                        </div>
                        <div>
                            <%= cl_image_tag("IMG_3240_gdyekd", :class=>"show-pictures-mer-9", :alt=>"mer-9") %>
                            <%= cl_image_tag("IMG_2620_y1nqsi", :class=>"show-pictures-mer-10", :alt=>"mer-10") %>
                        </div>
                        <div>
                            <%= cl_image_tag("Capture_d_eěcran_2021-01-18_aĚ_14.35.30_pyblfw", :class=>"show-pictures-mer-11", :alt=>"mer-11") %>
                        </div>
                        <div class="show-text">
                            <h3>Vue Mer, Toulon, 2018</h3>
                            <p>
                            Tailor-made installation for the Design Parade 3, the Villa Noailles architectural competition. celebrating the curves and brutalism of the kennedy corniche in Marseille, the space invites the calming of the body and the escape of the spirit through comfort and colors..
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures show-pictures-blue">
                        <div class="pictures-information">
                            <p>Sceno Villa Noailles</p>
                            <p>2019</p>
                            <p>Villa Noailles</p>
                        </div>
                        <div id="pictures-vava" class="allpictures pictures-2019">
                            <%= cl_image_tag("Scenographie_Villa_Noailles_rqztwn", :class=>"pictures grayscale", :alt=>"Sceno Villa Noailles Plan") %>
                            <div class="pictures-title pictures-title-blue">Sceno Villa Noailles</div>
                        </div>
                        <%= cl_image_tag("IMG_6278_4_cgpnw2", :class=>"show-pictures-mer-1", :alt=>"mer-1") %>
                        <div>
                            <%= cl_image_tag("IMG_6028_eezi8e", :class=>"show-pictures-mer-2", :alt=>"mer-2") %>
                            <%= cl_image_tag("IMG_6036_evlegc", :class=>"show-pictures-mer-3", :alt=>"mer-3") %>
                        </div>
                        <div>
                            <%= cl_image_tag("IMG_6168_3_phq16b", :class=>"show-pictures-mer-4", :alt=>"mer-4") %>
                        </div>
                        <div>
                            <%= cl_image_tag("IMG_6025_2_z0i33m", :class=>"show-pictures-mer-5", :alt=>"mer-5") %>
                            <%= cl_image_tag("IMG_6140_vi8kqf", :class=>"show-pictures-mer-6", :alt=>"mer-6") %>
                        </div>
                        <div>
                            <%= cl_image_tag("IMG_6269_ezzwlf", :class=>"show-pictures-mer-7", :alt=>"mer-11") %>
                        </div>
                        <div class="show-text">
                            <h3>Sceno Villa Noailles, Villa Noailles, 2019</h3>
                            <p>Description à compléter</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures show-pictures-blue">
                        <div class="pictures-information">
                            <p>Boat Concert</p>
                            <p>2019</p>
                            <p>?</p>
                        </div>
                        <div id="pictures-boat" class="allpictures pictures-2019">
                            <%= cl_image_tag("concertHall_k6pyfj", :class=>"pictures grayscale", :alt=>"Concert Hall") %>
                            <div class="pictures-title pictures-title-blue">Boat Concert</div>
                        </div>
                        <div class="show-text">
                            <h3>Boat concert, client ?, 2019</h3>
                            <p>Description à compléter</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures show-pictures-blue">
                        <div class="pictures-information">
                            <p>Playspace</p>
                            <p>2020</p>
                            <p>Vilebrequin</p>
                        </div>
                        <div id="pictures-playspace" class="allpictures pictures-2020">
                            <%= cl_image_tag("PlaysetKit2019_ghmgu1", :class=>"pictures grayscale", :alt=>"Playspace") %>
                            <div class="pictures-title pictures-title-blue">Playspace</div>
                        </div>
                        <div class="show-text">
                            <h3>Playspace, Vilebrequin, 2020</h3>
                            <p>Description à compléter</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures show-pictures-blue">
                        <div class="pictures-information">
                            <p>Cari Atelier Logement</p>
                            <p>2020</p>
                            <p>?</p>
                        </div>
                        <div id="pictures-cari" class="allpictures pictures-2020 lastpicturehide">
                            <%= cl_image_tag("CariAtelierLogement2020_edoddf", :class=>"pictures grayscale", :alt=>"Cari Atelier Logement") %>
                            <div class="pictures-title pictures-title-blue">Cari Atelier Logement</div>
                        </div>
                        <div>
                            <%= cl_image_tag("CARI_WORKSHOP_glisseì_e_s_6_page-0001_yz6dik", :class=>"show-pictures-mer-2", :alt=>"mer-2") %>
                            <%= cl_image_tag("CARI_WORKSHOP_glisseì_e_s_5_page-0001_hvlhbp", :class=>"show-pictures-mer-3", :alt=>"mer-3") %>
                        </div>
                        <div>
                            <%= cl_image_tag("CARI_WORKSHOP_glisseì_e_s_2_page-0001_y9wiw8", :class=>"show-pictures-mer-4", :alt=>"mer-4") %>
                        </div>
                        <div>
                            <%= cl_image_tag("CARI_WORKSHOP_glisseì_e_s_3_page-0001_lcbnkr", :class=>"show-pictures-mer-5", :alt=>"mer-5") %>
                        </div>
                        <div>
                            <%= cl_image_tag("CARI_WORKSHOP_glisseì_e_s_4_page-0001_s1raro", :class=>"show-pictures-mer-6", :alt=>"mer-6") %>
                        </div>
                        <div class="show-text">
                            <h3>Cari Atelier Logement, client ?, 2020</h3>
                            <p>Description à compléter</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures show-pictures-blue">
                        <div class="pictures-information">
                            <p>3A4</p>
                            <p>2020</p>
                            <p>Soldermann</p>
                        </div>
                        <div id="pictures-vava" class="allpictures pictures-2020 lastpicturehide">
                            <%= cl_image_tag("3A4-_2_1_vjqlv0", :class=>"pictures grayscale", :alt=>"3A4") %>
                            <div class="pictures-title pictures-title-blue">3A4</div>
                        </div>
                        <%= cl_image_tag("image_solo_house_yifuw3", :class=>"show-pictures-mer-1", :alt=>"3A4-1") %>

                        <div class="show-text">
                            <h3>3A4, Soldermann, 2020</h3>
                            <p>3A4 is a solo house concept made for Madame Revertegat, based in Balaguier (83). 

                            The shape of the building create an Arc appearing welcoming in the landscape. All the functions are shared in one common space, a long room stack between the mediterranean sea and La colline de Tamaris. 
                            
                            Bath and Kitchen mark transition between three volumes which enlighten as space to sleep and two living room.  
                            
                            The rooftop, accessible in bicycle host a small terrasse as an outdoor dining space, with an ideal view on the sea.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures show-pictures-blue">
                        <div class="pictures-information">
                            <p>Rooftop</p>
                            <p>2021</p>
                            <p>?</p>
                        </div>
                        <div id="pictures-rooftop" class="allpictures pictures-2021 lastpicturehide">
                            <%= cl_image_tag("Rooftop2020_k0b8vt", :class=>"pictures grayscale", :alt=>"Rooftop") %>
                            <div class="pictures-title pictures-title-blue">Rooftop</div>
                        </div>
                        <div class="show-text">
                            <h3>Rooftop, client ?, 2021</h3>
                            <p>Description à compléter</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology--blue"></div>

            <div id="project-year">
                <div id="project-year-2021-space">
                    <p>2021</p>
                </div>
                <div id="project-year-2020-space">
                    <p>2020</p>
                </div>
                <div id="project-year-2019-space">
                    <p>2019</p>
                </div>
                <div id="project-year-2018-space">
                    <p>2018</p>
                </div>
            </div>

            <div class="chair-front"></div>

        </div>

    </div>

