<div class="cursor"></div>

    <nav>
        <div id="ac" class="mail logo">
            <%= cl_image_tag("semi_b1yg67", :class=>"logo-img", :alt=>"semi") %>
            <%= cl_image_tag("office_y8erev", :class=>"logo-img img-top", :alt=>"office") %>
        </div>
        <div id="os">
            <a href="/object">
                <div id="o" class="mail">O</div>
            </a>
            <label class="switch">
                <input type="checkbox">
                <a href="/object">
                    <span class="slider round space"></span>
                </a>
            </label>
            <a href="/space">
                <div id="s" class="mail">Space</div>
            </a>
        </div>
    </nav>

    <div id="gray"></div>

    <div id="info-card">
        <div id="info-text">
            <p id="info-title">SEMI-OFFICE</p>
            <p>41, rue du Temple<br>
                Paris 75003
            </p>
            <p class="no-mb">06 69 24 83 32</p>
            <a class="mail" href="mailto:chauvinantoine@outlook.fr?subject=semi-office">chauvinantoine@outlook.fr</a>
            <p>Designing Object and Spaces</p>
            <p>Bed for Airports / Vélo Park /<br>
                Stadium Seat / Drinking Fountain /<br>
                Set Design / Bas Relief /<br>
                Scenography / Playground /<br>
                Diving Sculpture / Set Design /<br>
                Library / Hotel / Supermarket Furnirure /<br>
                Outdoor Furniture
            </p>
        </div>
    </div>

    <div id="mobile">
        <div class="mobile-box">
            <%= cl_image_tag("vitra8_kisujl", :class=>"mobile-box-pictures", :alt=>"vitra8") %>
            <%= cl_image_tag("stade10_mluwxp", :class=>"mobile-box-pictures", :alt=>"stade10") %>
            <%= cl_image_tag("municipale4_jfv7v9", :class=>"mobile-box-pictures", :alt=>"municipale4") %>
            <%= cl_image_tag("vava3_vxwuz2", :class=>"mobile-box-pictures", :alt=>"vava3") %>
            <%= cl_image_tag("fontaine6_kc1xw4", :class=>"mobile-box-pictures", :alt=>"fontaine6") %>
            <%= cl_image_tag("siamese3_no6shi", :class=>"mobile-box-pictures", :alt=>"siamese3") %>
            <%= cl_image_tag("cafe4_llwb8a", :class=>"mobile-box-pictures", :alt=>"cafe4") %>
        </div>
    </div>

    <div id="desktop-hide">

        <div class="background"></div>

        <div id="master-project-chronology">
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures show-pictures-blue">
                        <div class="pictures-information">
                            <p>Vue sur Mer</p>
                            <p>2018</p>
                            <p>?</p>
                        </div>
                        <div id="pictures-cafe" class="allpictures pictures-2018">
                            <%= cl_image_tag("vue_mer_sge380", :class=>"pictures grayscale", :alt=>"Vue sur Mer") %>
                            <div class="pictures-title pictures-title-blue">Vue sur Mer</div>
                        </div>
                        <div class="">
                            <%= cl_image_tag("fontaine1_ebaz7g", :class=>"show-pictures-1", :alt=>"fontaine1") %>
                            <div>
                                <%= cl_image_tag("fontaine2_cn3iqq", :class=>"show-pictures-2", :alt=>"fontaine2") %>
                                <%= cl_image_tag("fontaine3_dey5xc", :class=>"show-pictures-3", :alt=>"fontaine3") %>
                            </div>
                            <div>
                                <%= cl_image_tag("fontaine4_s45wts", :class=>"show-pictures-4", :alt=>"fontaine4") %>
                                <%= cl_image_tag("fontaine5_xh5dss", :class=>"show-pictures-5", :alt=>"fontaine5") %>
                            </div>
                            <div class="show-text">
                                <h3>Hydros, Eau de Paris, 2020</h3>
                                <p>
                                    Architecture tremplin, mettant en scène la force du vide, et, l’expression la plus
                                    noble d’un corps.
                                    Le saut, symbole d’un instant d’éternité et d’incertitude, est aujourd’hui une
                                    responsabilité que nous devons embrasser afin de préserver un écosystème
                                    sensible dans nos villes.
                                    Une forme tangible portant un art de vivre et d’être que nous avons trouvé juste
                                    afin de représenter notre rapport à l’eau dans l’espace public.
                                    Le coeur du projet porte des intentions éthiques et techniques sur les enjeux des
                                    années à venir : l’écologie de la ville, une ouverture à l’eau démocratique, les
                                    nouveaux comportements liés à l’hygiène, la résistance au temps, une
                                    communication audacieuse...
                                    Une idée consacrée au saut dans le vide que nous impose le 21e siècle.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures show-pictures-blue">
                        <div class="pictures-information">
                            <p>Sceno Villa Noailles</p>
                            <p>2019</p>
                            <p>?</p>
                        </div>
                        <div id="pictures-vava" class="allpictures pictures-2019">
                            <%= cl_image_tag("scenoVillaNoailles2019_rbonk2", :class=>"pictures grayscale", :alt=>"Sceno Villa Noailles") %>
                            <div class="pictures-title pictures-title-blue">Sceno Villa Noailles</div>
                        </div>
                        <%= cl_image_tag("fontaine1_ebaz7g", :class=>"show-pictures-1", :alt=>"fontaine1") %>
                        <div>
                            <%= cl_image_tag("fontaine2_cn3iqq", :class=>"show-pictures-2", :alt=>"fontaine2") %>
                            <%= cl_image_tag("fontaine3_dey5xc", :class=>"show-pictures-3", :alt=>"fontaine3") %>
                        </div>
                        <div>
                            <%= cl_image_tag("fontaine4_s45wts", :class=>"show-pictures-4", :alt=>"fontaine4") %>
                            <%= cl_image_tag("fontaine5_xh5dss", :class=>"show-pictures-5", :alt=>"fontaine5") %>
                        </div>
                        <div class="show-text">
                            <h3>Hydros, Eau de Paris, 2020</h3>
                            <p>
                                Architecture tremplin, mettant en scène la force du vide, et, l’expression la plus
                                noble d’un corps.
                                Le saut, symbole d’un instant d’éternité et d’incertitude, est aujourd’hui une
                                responsabilité que nous devons embrasser afin de préserver un écosystème
                                sensible dans nos villes.
                                Une forme tangible portant un art de vivre et d’être que nous avons trouvé juste
                                afin de représenter notre rapport à l’eau dans l’espace public.
                                Le coeur du projet porte des intentions éthiques et techniques sur les enjeux des
                                années à venir : l’écologie de la ville, une ouverture à l’eau démocratique, les
                                nouveaux comportements liés à l’hygiène, la résistance au temps, une
                                communication audacieuse...
                                Une idée consacrée au saut dans le vide que nous impose le 21e siècle.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures show-pictures-blue">
                        <div class="pictures-information">
                            <p>Boat Concert</p>
                            <p>2019</p>
                            <p>?</p>
                        </div>
                        <div id="pictures-cafe" class="allpictures pictures-2019">
                            <%= cl_image_tag("PlaysetKit2019_ghmgu1", :class=>"pictures grayscale", :alt=>"Player Kit") %>
                            <div class="pictures-title pictures-title-blue">Boat Concert</div>
                        </div>
                        <%= cl_image_tag("fontaine1_ebaz7g", :class=>"show-pictures-1", :alt=>"fontaine1") %>
                        <div>
                            <%= cl_image_tag("fontaine2_cn3iqq", :class=>"show-pictures-2", :alt=>"fontaine2") %>
                            <%= cl_image_tag("fontaine3_dey5xc", :class=>"show-pictures-3", :alt=>"fontaine3") %>
                        </div>
                        <div>
                            <%= cl_image_tag("fontaine4_s45wts", :class=>"show-pictures-4", :alt=>"fontaine4") %>
                            <%= cl_image_tag("fontaine5_xh5dss", :class=>"show-pictures-5", :alt=>"fontaine5") %>
                        </div>
                        <div class="show-text">
                            <h3>Hydros, Eau de Paris, 2020</h3>
                            <p>
                                Architecture tremplin, mettant en scène la force du vide, et, l’expression la plus
                                noble d’un corps.
                                Le saut, symbole d’un instant d’éternité et d’incertitude, est aujourd’hui une
                                responsabilité que nous devons embrasser afin de préserver un écosystème
                                sensible dans nos villes.
                                Une forme tangible portant un art de vivre et d’être que nous avons trouvé juste
                                afin de représenter notre rapport à l’eau dans l’espace public.
                                Le coeur du projet porte des intentions éthiques et techniques sur les enjeux des
                                années à venir : l’écologie de la ville, une ouverture à l’eau démocratique, les
                                nouveaux comportements liés à l’hygiène, la résistance au temps, une
                                communication audacieuse...
                                Une idée consacrée au saut dans le vide que nous impose le 21e siècle.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures show-pictures-blue">
                        <div class="pictures-information">
                            <p>Playspace</p>
                            <p>2020</p>
                            <p>?</p>
                        </div>
                        <div id="pictures-vava" class="allpictures pictures-2020">
                            <%= cl_image_tag("PlaysetKit2019_ghmgu1", :class=>"pictures grayscale", :alt=>"Playspace") %>
                            <div class="pictures-title pictures-title-blue">Playspace</div>
                        </div>
                        <%= cl_image_tag("fontaine1_ebaz7g", :class=>"show-pictures-1", :alt=>"fontaine1") %>
                        <div>
                            <%= cl_image_tag("fontaine2_cn3iqq", :class=>"show-pictures-2", :alt=>"fontaine2") %>
                            <%= cl_image_tag("fontaine3_dey5xc", :class=>"show-pictures-3", :alt=>"fontaine3") %>
                        </div>
                        <div>
                            <%= cl_image_tag("fontaine4_s45wts", :class=>"show-pictures-4", :alt=>"fontaine4") %>
                            <%= cl_image_tag("fontaine5_xh5dss", :class=>"show-pictures-5", :alt=>"fontaine5") %>
                        </div>
                        <div class="show-text">
                            <h3>Hydros, Eau de Paris, 2020</h3>
                            <p>
                                Architecture tremplin, mettant en scène la force du vide, et, l’expression la plus
                                noble d’un corps.
                                Le saut, symbole d’un instant d’éternité et d’incertitude, est aujourd’hui une
                                responsabilité que nous devons embrasser afin de préserver un écosystème
                                sensible dans nos villes.
                                Une forme tangible portant un art de vivre et d’être que nous avons trouvé juste
                                afin de représenter notre rapport à l’eau dans l’espace public.
                                Le coeur du projet porte des intentions éthiques et techniques sur les enjeux des
                                années à venir : l’écologie de la ville, une ouverture à l’eau démocratique, les
                                nouveaux comportements liés à l’hygiène, la résistance au temps, une
                                communication audacieuse...
                                Une idée consacrée au saut dans le vide que nous impose le 21e siècle.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures show-pictures-blue">
                        <div class="pictures-information">
                            <p>Cari Atelier Logement</p>
                            <p>2020</p>
                            <p>?</p>
                        </div>
                        <div id="pictures-cari" class="allpictures pictures-2020 lastpicturehide">
                            <%= cl_image_tag("CariAtelierLogement2020_edoddf", :class=>"pictures grayscale", :alt=>"Cari Atelier Logement") %>
                            <div class="pictures-title pictures-title-blue">Cari Atelier Logement</div>
                        </div>
                        <div class="show-pictures-hide active">
                            <%= cl_image_tag("fontaine1_ebaz7g", :class=>"show-pictures-1", :alt=>"fontaine1") %>
                            <div>
                                <%= cl_image_tag("fontaine2_cn3iqq", :class=>"show-pictures-2", :alt=>"fontaine2") %>
                                <%= cl_image_tag("fontaine3_dey5xc", :class=>"show-pictures-3", :alt=>"fontaine3") %>
                            </div>
                            <div>
                                <%= cl_image_tag("fontaine4_s45wts", :class=>"show-pictures-4", :alt=>"fontaine4") %>
                                <%= cl_image_tag("fontaine5_xh5dss", :class=>"show-pictures-5", :alt=>"fontaine5") %>
                            </div>
                            <div class="show-text">
                                <h3>Hydros, Eau de Paris, 2020</h3>
                                <p>
                                    Architecture tremplin, mettant en scène la force du vide, et, l’expression la plus
                                    noble d’un corps.
                                    Le saut, symbole d’un instant d’éternité et d’incertitude, est aujourd’hui une
                                    responsabilité que nous devons embrasser afin de préserver un écosystème
                                    sensible dans nos villes.
                                    Une forme tangible portant un art de vivre et d’être que nous avons trouvé juste
                                    afin de représenter notre rapport à l’eau dans l’espace public.
                                    Le coeur du projet porte des intentions éthiques et techniques sur les enjeux des
                                    années à venir : l’écologie de la ville, une ouverture à l’eau démocratique, les
                                    nouveaux comportements liés à l’hygiène, la résistance au temps, une
                                    communication audacieuse...
                                    Une idée consacrée au saut dans le vide que nous impose le 21e siècle.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures show-pictures-blue">
                        <div class="pictures-information">
                            <p>3A4</p>
                            <p>2020</p>
                            <p>?</p>
                        </div>
                        <div id="pictures-vava" class="allpictures pictures-2020 lastpicturehide">
                            <%= cl_image_tag("3A4_2_xbde54", :class=>"pictures grayscale", :alt=>"3A4") %>
                            <div class="pictures-title pictures-title-blue">3A4</div>
                        </div>
                        <div class="show-pictures-hide active">
                            <%= cl_image_tag("fontaine1_ebaz7g", :class=>"show-pictures-1", :alt=>"fontaine1") %>
                            <div>
                                <%= cl_image_tag("fontaine2_cn3iqq", :class=>"show-pictures-2", :alt=>"fontaine2") %>
                                <%= cl_image_tag("fontaine3_dey5xc", :class=>"show-pictures-3", :alt=>"fontaine3") %>
                            </div>
                            <div>
                                <%= cl_image_tag("fontaine4_s45wts", :class=>"show-pictures-4", :alt=>"fontaine4") %>
                                <%= cl_image_tag("fontaine5_xh5dss", :class=>"show-pictures-5", :alt=>"fontaine5") %>
                            </div>
                            <div class="show-text">
                                <h3>Hydros, Eau de Paris, 2020</h3>
                                <p>
                                    Architecture tremplin, mettant en scène la force du vide, et, l’expression la plus
                                    noble d’un corps.
                                    Le saut, symbole d’un instant d’éternité et d’incertitude, est aujourd’hui une
                                    responsabilité que nous devons embrasser afin de préserver un écosystème
                                    sensible dans nos villes.
                                    Une forme tangible portant un art de vivre et d’être que nous avons trouvé juste
                                    afin de représenter notre rapport à l’eau dans l’espace public.
                                    Le coeur du projet porte des intentions éthiques et techniques sur les enjeux des
                                    années à venir : l’écologie de la ville, une ouverture à l’eau démocratique, les
                                    nouveaux comportements liés à l’hygiène, la résistance au temps, une
                                    communication audacieuse...
                                    Une idée consacrée au saut dans le vide que nous impose le 21e siècle.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures show-pictures-blue">
                        <div class="pictures-information">
                            <p>Rooftop</p>
                            <p>2021</p>
                            <p>?</p>
                        </div>
                        <div id="pictures-cari" class="allpictures pictures-2021 lastpicturehide">
                            <%= cl_image_tag("Rooftop2020_k0b8vt", :class=>"pictures grayscale", :alt=>"Rooftop") %>
                            <div class="pictures-title pictures-title-blue">Rooftop</div>
                        </div>
                        <div class="show-pictures-hide active">
                            <%= cl_image_tag("fontaine1_ebaz7g", :class=>"show-pictures-1", :alt=>"fontaine1") %>
                            <div>
                                <%= cl_image_tag("fontaine2_cn3iqq", :class=>"show-pictures-2", :alt=>"fontaine2") %>
                                <%= cl_image_tag("fontaine3_dey5xc", :class=>"show-pictures-3", :alt=>"fontaine3") %>
                            </div>
                            <div>
                                <%= cl_image_tag("fontaine4_s45wts", :class=>"show-pictures-4", :alt=>"fontaine4") %>
                                <%= cl_image_tag("fontaine5_xh5dss", :class=>"show-pictures-5", :alt=>"fontaine5") %>
                            </div>
                            <div class="show-text">
                                <h3>Hydros, Eau de Paris, 2020</h3>
                                <p>
                                    Architecture tremplin, mettant en scène la force du vide, et, l’expression la plus
                                    noble d’un corps.
                                    Le saut, symbole d’un instant d’éternité et d’incertitude, est aujourd’hui une
                                    responsabilité que nous devons embrasser afin de préserver un écosystème
                                    sensible dans nos villes.
                                    Une forme tangible portant un art de vivre et d’être que nous avons trouvé juste
                                    afin de représenter notre rapport à l’eau dans l’espace public.
                                    Le coeur du projet porte des intentions éthiques et techniques sur les enjeux des
                                    années à venir : l’écologie de la ville, une ouverture à l’eau démocratique, les
                                    nouveaux comportements liés à l’hygiène, la résistance au temps, une
                                    communication audacieuse...
                                    Une idée consacrée au saut dans le vide que nous impose le 21e siècle.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology--blue"></div>

            <div id="project-year">
                <div id="project-year-2021-space">
                    <p>2021</p>
                </div>
                <div id="project-year-2020-space">
                    <p>2020</p>
                </div>
                <div id="project-year-2019-space">
                    <p>2019</p>
                </div>
                <div id="project-year-2018-space">
                    <p>2018</p>
                </div>
            </div>

            <div class="chair-front"></div>

        </div>

    </div>

