<div class="cursor"></div>

    <nav>
        <div id="ac" class="mail">AC</div>
        <div id="os">
            <a href="/object">
                <div id="o" class="mail">O</div>
            </a>
            <label class="switch">
                <input type="checkbox">
                <a href="/object">
                    <span class="slider round space"></span>
                </a>
            </label>
            <a href="/space">
                <div id="s" class="mail">S</div>
            </a>
        </div>
    </nav>

    <div id="gray"></div>

    <div id="info-card">
        <div id="info-text">
            <p id="info-title">AC STUDIO</p>
            <p>41, rue du Temple<br>
                Paris 75003
            </p>
            <p class="no-mb">06 69 24 83 32</p>
            <a class="mail" href="mailto:contact@ac.studio.com?subject=AC Studio">contact@ac.studio.com</a>
            <p>Designing Object and Spaces</p>
            <p>Bed for Airports / Vélo Park /<br>
                Stadium Seat / Drinking Fountain /<br>
                Set Design / Bas Relief /<br>
                Scenography / Playground /<br>
                Diving Sculpture / Set Design /<br>
                Library / Hotel / Supermarket Furnirure /<br>
                Outdoor Furniture
            </p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates accusamus soluta inventore, totam, repellat reprehenderit, ipsam ea hic suscipit commodi animi? Veritatis, pariatur nobis? Eaque sequi esse maxime blanditiis dolores? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt reprehenderit beatae porro possimus? Cumque ea natus deserunt totam, dolores modi doloribus fugiat dolorum quam iure praesentium dolore minus laboriosam? Repellat!</p>
        </div>
    </div>

    <div id="mobile">
        <div class="mobile-box">
            <%= cl_image_tag("vitra8_kisujl", :class=>"mobile-box-pictures", :alt=>"vitra8") %>
            <%= cl_image_tag("stade10_mluwxp", :class=>"mobile-box-pictures", :alt=>"stade10") %>
            <%= cl_image_tag("municipale4_jfv7v9", :class=>"mobile-box-pictures", :alt=>"municipale4") %>
            <%= cl_image_tag("vava3_vxwuz2", :class=>"mobile-box-pictures", :alt=>"vava3") %>
            <%= cl_image_tag("fontaine6_kc1xw4", :class=>"mobile-box-pictures", :alt=>"fontaine6") %>
            <%= cl_image_tag("siamese3_no6shi", :class=>"mobile-box-pictures", :alt=>"siamese3") %>
            <%= cl_image_tag("cafe4_llwb8a", :class=>"mobile-box-pictures", :alt=>"cafe4") %>
        </div>
    </div>

    <div id="desktop-hide">

        <div class="background"></div>

        <div id="master-project-chronology">
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures show-pictures-blue">
                        <div class="pictures-information">
                            <p>Cari Atelier Logement</p>
                            <p>2020</p>
                            <p>?</p>
                        </div>
                        <div id="pictures-cari" class="allpictures pictures-2020">
                            <%= cl_image_tag("CariAtelierLogement2020_edoddf", :class=>"pictures grayscale", :alt=>"Cari Atelier Logement") %>
                            <div class="pictures-title">Cari Atelier Logement</div>
                        </div>
                        <%= cl_image_tag("fontaine1_ebaz7g", :class=>"show-pictures-1", :alt=>"fontaine1") %>
                        <div>
                            <%= cl_image_tag("fontaine2_cn3iqq", :class=>"show-pictures-2", :alt=>"fontaine2") %>
                            <%= cl_image_tag("fontaine3_dey5xc", :class=>"show-pictures-3", :alt=>"fontaine3") %>
                        </div>
                        <div>
                            <%= cl_image_tag("fontaine4_s45wts", :class=>"show-pictures-4", :alt=>"fontaine4") %>
                            <%= cl_image_tag("fontaine5_xh5dss", :class=>"show-pictures-5", :alt=>"fontaine5") %>
                        </div>
                        <div class="show-text">
                            <h3>Hydros, Eau de Paris, 2020</h3>
                            <p>
                                Architecture tremplin, mettant en scène la force du vide, et, l’expression la plus
                                noble d’un corps.
                                Le saut, symbole d’un instant d’éternité et d’incertitude, est aujourd’hui une
                                responsabilité que nous devons embrasser afin de préserver un écosystème
                                sensible dans nos villes.
                                Une forme tangible portant un art de vivre et d’être que nous avons trouvé juste
                                afin de représenter notre rapport à l’eau dans l’espace public.
                                Le coeur du projet porte des intentions éthiques et techniques sur les enjeux des
                                années à venir : l’écologie de la ville, une ouverture à l’eau démocratique, les
                                nouveaux comportements liés à l’hygiène, la résistance au temps, une
                                communication audacieuse...
                                Une idée consacrée au saut dans le vide que nous impose le 21e siècle.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures show-pictures-blue">
                        <div class="pictures-information">
                            <p>Rooftop</p>
                            <p>2020</p>
                            <p>?</p>
                        </div>
                        <div id="pictures-vava" class="allpictures pictures-2020">
                            <%= cl_image_tag("Rooftop2020_k0b8vt", :class=>"pictures grayscale", :alt=>"Rooftop") %>
                            <div class="pictures-title">Rooftop</div>
                        </div>
                        <%= cl_image_tag("fontaine1_ebaz7g", :class=>"show-pictures-1", :alt=>"fontaine1") %>
                        <div>
                            <%= cl_image_tag("fontaine2_cn3iqq", :class=>"show-pictures-2", :alt=>"fontaine2") %>
                            <%= cl_image_tag("fontaine3_dey5xc", :class=>"show-pictures-3", :alt=>"fontaine3") %>
                        </div>
                        <div>
                            <%= cl_image_tag("fontaine4_s45wts", :class=>"show-pictures-4", :alt=>"fontaine4") %>
                            <%= cl_image_tag("fontaine5_xh5dss", :class=>"show-pictures-5", :alt=>"fontaine5") %>
                        </div>
                        <div class="show-text">
                            <h3>Hydros, Eau de Paris, 2020</h3>
                            <p>
                                Architecture tremplin, mettant en scène la force du vide, et, l’expression la plus
                                noble d’un corps.
                                Le saut, symbole d’un instant d’éternité et d’incertitude, est aujourd’hui une
                                responsabilité que nous devons embrasser afin de préserver un écosystème
                                sensible dans nos villes.
                                Une forme tangible portant un art de vivre et d’être que nous avons trouvé juste
                                afin de représenter notre rapport à l’eau dans l’espace public.
                                Le coeur du projet porte des intentions éthiques et techniques sur les enjeux des
                                années à venir : l’écologie de la ville, une ouverture à l’eau démocratique, les
                                nouveaux comportements liés à l’hygiène, la résistance au temps, une
                                communication audacieuse...
                                Une idée consacrée au saut dans le vide que nous impose le 21e siècle.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures show-pictures-blue">
                        <div class="pictures-information">
                            <p>Playset Kit</p>
                            <p>2019</p>
                            <p>?</p>
                        </div>
                        <div id="pictures-cafe" class="allpictures pictures-2020">
                            <%= cl_image_tag("PlaysetKit2019_ghmgu1", :class=>"pictures grayscale", :alt=>"Player Kit") %>
                            <div class="pictures-title">Playset Kit</div>
                        </div>
                        <%= cl_image_tag("fontaine1_ebaz7g", :class=>"show-pictures-1", :alt=>"fontaine1") %>
                        <div>
                            <%= cl_image_tag("fontaine2_cn3iqq", :class=>"show-pictures-2", :alt=>"fontaine2") %>
                            <%= cl_image_tag("fontaine3_dey5xc", :class=>"show-pictures-3", :alt=>"fontaine3") %>
                        </div>
                        <div>
                            <%= cl_image_tag("fontaine4_s45wts", :class=>"show-pictures-4", :alt=>"fontaine4") %>
                            <%= cl_image_tag("fontaine5_xh5dss", :class=>"show-pictures-5", :alt=>"fontaine5") %>
                        </div>
                        <div class="show-text">
                            <h3>Hydros, Eau de Paris, 2020</h3>
                            <p>
                                Architecture tremplin, mettant en scène la force du vide, et, l’expression la plus
                                noble d’un corps.
                                Le saut, symbole d’un instant d’éternité et d’incertitude, est aujourd’hui une
                                responsabilité que nous devons embrasser afin de préserver un écosystème
                                sensible dans nos villes.
                                Une forme tangible portant un art de vivre et d’être que nous avons trouvé juste
                                afin de représenter notre rapport à l’eau dans l’espace public.
                                Le coeur du projet porte des intentions éthiques et techniques sur les enjeux des
                                années à venir : l’écologie de la ville, une ouverture à l’eau démocratique, les
                                nouveaux comportements liés à l’hygiène, la résistance au temps, une
                                communication audacieuse...
                                Une idée consacrée au saut dans le vide que nous impose le 21e siècle.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures show-pictures-blue">
                        <div class="pictures-information">
                            <p>Sceno Villa Noailles</p>
                            <p>2019</p>
                            <p>?</p>
                        </div>
                        <div id="pictures-vava" class="allpictures pictures-2020">
                            <%= cl_image_tag("scenoVillaNoailles2019_rbonk2", :class=>"pictures grayscale", :alt=>"Sceno Villa Noailles") %>
                            <div class="pictures-title">Sceno Villa Noailles</div>
                        </div>
                        <%= cl_image_tag("fontaine1_ebaz7g", :class=>"show-pictures-1", :alt=>"fontaine1") %>
                        <div>
                            <%= cl_image_tag("fontaine2_cn3iqq", :class=>"show-pictures-2", :alt=>"fontaine2") %>
                            <%= cl_image_tag("fontaine3_dey5xc", :class=>"show-pictures-3", :alt=>"fontaine3") %>
                        </div>
                        <div>
                            <%= cl_image_tag("fontaine4_s45wts", :class=>"show-pictures-4", :alt=>"fontaine4") %>
                            <%= cl_image_tag("fontaine5_xh5dss", :class=>"show-pictures-5", :alt=>"fontaine5") %>
                        </div>
                        <div class="show-text">
                            <h3>Hydros, Eau de Paris, 2020</h3>
                            <p>
                                Architecture tremplin, mettant en scène la force du vide, et, l’expression la plus
                                noble d’un corps.
                                Le saut, symbole d’un instant d’éternité et d’incertitude, est aujourd’hui une
                                responsabilité que nous devons embrasser afin de préserver un écosystème
                                sensible dans nos villes.
                                Une forme tangible portant un art de vivre et d’être que nous avons trouvé juste
                                afin de représenter notre rapport à l’eau dans l’espace public.
                                Le coeur du projet porte des intentions éthiques et techniques sur les enjeux des
                                années à venir : l’écologie de la ville, une ouverture à l’eau démocratique, les
                                nouveaux comportements liés à l’hygiène, la résistance au temps, une
                                communication audacieuse...
                                Une idée consacrée au saut dans le vide que nous impose le 21e siècle.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue open-pictures">
                <div class="scroll-y">
                    <div class="show-pictures show-pictures-blue">
                        <div class="pictures-information">
                            <p>Room Villa Noailles</p>
                            <p>2018</p>
                            <p>?</p>
                        </div>
                        <div id="pictures-vava" class="allpictures pictures-2020 lastpicturehide">
                            <%= cl_image_tag("roomVillaNoailles2018_sj0le6", :class=>"pictures grayscale", :alt=>"Room Villa Noailles") %>
                            <div class="pictures-title">Sceno Villa Noailles</div>
                        </div>
                        <div class="show-pictures-hide active">
                            <%= cl_image_tag("fontaine1_ebaz7g", :class=>"show-pictures-1", :alt=>"fontaine1") %>
                            <div>
                                <%= cl_image_tag("fontaine2_cn3iqq", :class=>"show-pictures-2", :alt=>"fontaine2") %>
                                <%= cl_image_tag("fontaine3_dey5xc", :class=>"show-pictures-3", :alt=>"fontaine3") %>
                            </div>
                            <div>
                                <%= cl_image_tag("fontaine4_s45wts", :class=>"show-pictures-4", :alt=>"fontaine4") %>
                                <%= cl_image_tag("fontaine5_xh5dss", :class=>"show-pictures-5", :alt=>"fontaine5") %>
                            </div>
                            <div class="show-text">
                                <h3>Hydros, Eau de Paris, 2020</h3>
                                <p>
                                    Architecture tremplin, mettant en scène la force du vide, et, l’expression la plus
                                    noble d’un corps.
                                    Le saut, symbole d’un instant d’éternité et d’incertitude, est aujourd’hui une
                                    responsabilité que nous devons embrasser afin de préserver un écosystème
                                    sensible dans nos villes.
                                    Une forme tangible portant un art de vivre et d’être que nous avons trouvé juste
                                    afin de représenter notre rapport à l’eau dans l’espace public.
                                    Le coeur du projet porte des intentions éthiques et techniques sur les enjeux des
                                    années à venir : l’écologie de la ville, une ouverture à l’eau démocratique, les
                                    nouveaux comportements liés à l’hygiène, la résistance au temps, une
                                    communication audacieuse...
                                    Une idée consacrée au saut dans le vide que nous impose le 21e siècle.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue"></div>
            <div class="project-chronology--blue"></div>

            <div id="project-year">
                <div id="project-year-2020">
                    <p>2020</p>
                </div>
                <div id="project-year-2019">
                    <p>2019</p>
                </div>
                <div id="project-year-2018">
                    <p>2018</p>
                </div>
                <div id="project-year-2017">
                    <p>2017</p>
                </div>
            </div>

            <div class="chair-front"></div>

        </div>

    </div>

