<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="src/styles.scss"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <!-- Canonical -->
    <link rel="canonical" href="https://www.semi-office.eu" />
    <!-- Robots -->
    <meta name="robots" content="noindex, nofollow" />
    <!-- Device -->
    <!-- <meta name="viwport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5" />
    <meta name="format-detection" content="telephone=no" />
    <!-- Title -->
    <title>Semi Office</title>
    <!-- Description -->
    <meta name="description" content="Semi-office est une galerie de design d'objets et d'espaces réaliser par Antoine Chauvin, designer à Paris et Marseille."/>
    <!-- Social -->
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Semi Office" />
    <meta name="twitter:description" content="Semi-office est une galerie de design d'objets et d'espaces réaliser par Antoine Chauvin, designer à Paris et Marseille." />
    <meta name="twitter:image" content="" />
    <!-- Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.semi-office.eu" />
    <meta property="og:title" content="Semi Office" />
    <meta property="og:description" content="Semi-office est une galerie de design d'objets et d'espaces réaliser par Antoine Chauvin, designer à Paris et Marseille." />
    <meta property="og:image" content="" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <!-- Favicon -->
    <meta name="theme-color" content="#fff" />
    <meta name=”keywords” content=”designer paris, designer marseille, designer industriel marseille, designer industriel paris, semi, semi office, semi design, semi decoration, semi architecture interieure, semi paris, semi marseille, semi objet, semi espace, creation mobilier, design industriel, design espace, design objet, aménagement intérieur, espace public, espace privé, Antoine Chauvin, Antoine Revertegat Chauvin, Antoine Revertegat, SEMI design, Design interieur, Architecte intérieur Paris, Architecte intérieur Marseille, Appartement sur mesure, Agence design industrielle Marseille, Agence design industrielle Paris, Design industriel, Décoration Paris, Decoration Marseille, atelier design marseille, atelier design paris" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'script' %>
  </body>
</html>
