<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Semi Office</title>
    <meta name="description" content="Semi-office est une galerie de design d'objets et d'espaces réaliser par Antoine Chauvin, designer à Paris et Marseille."/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'script' %>
  </body>
</html>
